# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# Firebase (do NOT commit real GoogleService-Info.plist)
LifePrep/GoogleService-Info.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# IDE
.idea/
*.swp
*.swo
